<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-12 text-center">
                        <figure>
                            <img src="images/404error.jpg" alt="Niranjan" title="Weather BABA " class="mt-5">
                        </figure>
                    </div>
                    {{!-- <div class="col-md-6 col-12 main_header_left">
                        <p style="margin-top: 100px;">Welcome to weather app</p>
                        <h1>I am a <span class="text_clr">Full Stack Developer</span> and Freelancer</h1>
                        <a href="https://nkhtmltest.000webhostapp.com/#"><button>check now</button></a>
                    </div> --}}
                </div>
            </div>
        </div>
    </div>
    <!-- footer code here -->
    {{>footer}}

</body>

</html>