<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-12 mx-auto">
                <div class="main_content">
                    <form action="" class="temp_form">
                        <input type="text" placeholder="Enter Your City Name" id="cityName" autocomplete="off">
                        <input type="submit" value="Search" id="submitBtn">
                    </form>
                </div>
                <div class="temp_Info">
                    <div class="top_layer">
                        <p id="day">Tuesday</p>
                        <p id="today_date"> 22 Nov</p>
                    </div>
                    <div class="main_layer">
                        <p id="city_name"> get Output here</p>
                        <div class="middle_layer data_hide">
                            <p id="temp"> <span id="temp_real_val">0</span>
                                <sup>o</sup>C</p>
                            <p id="temp_status"><i class="fas fa-cloud"></i></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- footer code here -->
    {{>footer}}

</body>
<script src="js/main.js"></script>

<script>

    let weekday = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
    const getCurrentDay = () => {

        let currentTime = new Date();
        let days = weekday[currentTime.getDay()];

        const day = document.getElementById("day");
        day.innerText = days;
    }


    let months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

    const getCurrentDate = () => {
        let currentTime = new Date();
        let monthName = months[currentTime.getMonth()];
        let date = currentTime.getDate();
        const month = document.getElementById("today_date");
        month.innerText = ` ${date} ${monthName}`;
    }

    getCurrentDay();

    getCurrentDate();

</script>

</html>